.divtag{
    border:2px solid black;
    height:500px;
    width:360px;
}
#spantag{
    color:white;
    background-color: rgb(71, 61, 209);
    font-size: 45px; 
}
#inputtag{
    height:40px;
    width:350px;
}
button{
    height:50px;
    color:white;
    background-color: rgb(71,61,209);
    font-size: 20px;
    font-family:'Times New Roman', Times, serif
}
#imgtag{
    border:1px solid black;
}